body {
  font-family: "Poppins", Arial;
  color: #222;
}

.positionLink, .brandColoredText, .clickableLink {
	color: #5385bd;
}

.positionDetails, .suggestEmployee, .company-links, .regularLink {
	color: #788487;
}

.brandBottomLine {
  border-bottom: 1px solid #788487;
}

.brandTopLine {
  border-top: 1px solid #788487;
}

.brandColoredButton {
	color: #fff;
  background-color: #5385bd;
  border-color: #5385bd;
}

.brandColoredButton:hover {
	color: #fff;
  background-color: #5a8fc4;
  border-color: #5a8fc4;
}

.brandColoredButton:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}